.DS_Store
*.idea*

*.bin
*.pyc
*/cache*
*cache/*
*.egg-info*
*/dist*
*dist/*
*.eggs*

CMakeFiles/*
Makefile
cmake_install.cmake
*/cmake-build-*
build/*
*/build/*

*.a
*.o

*.pb.h
*.pb.cc

*~
*#

*INFO*
*WARN*
*ERROR*
*FATAL*
*.log

.ipynb_checkpoints
__pycache__

.env
build
node_modules
__generated__
yarn-error.log